/* TABLET VIEW */
@media only screen and (max-width:992px) {

    .topnav{
        display: block;
        z-index:10;
    }

    .ldm img{
        width: 25px;
      }
    
      .lds img{
        width: 25px;
      }


.nstyle{
    ul {
        display: inline;
        margin: 0;
        padding: 0;
      }
      ul li {display: inline-block;}
      ul li:hover {background: #555;}
      ul li:hover ul {display: block;}
      ul li ul {
        position: absolute;
        width: 200px;
        display: none;
      }
      ul li ul li { 
        background: #555; 
        display: block; 
      }
      ul li ul li a {display:block !important;} 
      ul li ul li:hover {background: #666;}
    }


    .navigation {
        padding: 0px 0px 5px 0px;
        margin-right: 10px;
    }
    .nstyle{
        display:none;
        font-size: 15px;
    }

    .mainhead{
        display: flex;
        align-items:baseline;
padding-bottom: 30px;
flex-direction:column-reverse;
height:auto;

    }
    .intro {
        align-items:flex-start;
        padding: 0px 30px;

    }
    .van {
        width: 100%;
        height: auto;
    }
    .vanimage{
        border-radius: 0px;
    }


    @keyframes headas {
        from {transform: translateX(-600px);}
        to {transform: translateX(0);}
    }
    .intro h1{
        position: relative;
      animation-name: headas;
      animation-duration: 2.5s;
    }



    .intro h1 {
        font-size: 1em;
    }

    .acontainer {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .gallery {
        gap: 40px;
    }

    .title h2{
        font-size: 30px;

    }
    .project{
        width: 300px;
    }

    .simage1{
        height: 200px;
    }
    .simage2{
        height: 300px;
    }
    .icons{
        margin: 0px 80px;
    }

    .iconscon{
        margin: 0px 50px;
        padding: 0px 0px 30px 0px;
    }
    .ques{
        margin: 0px 50px;
    }
    .citem{
        gap: 50px;
        padding: 30px 30px;
    }

    .faqs{
        padding-top: 0px;
    }

    .ques {
        padding: 20px;
    }

    .qa h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}


/* MOBILE VIEW */
@media only screen and (max-width: 478px) {

    .ldm img{
        width: 15px;
      }
    
      .lds img{
        width: 15px;
      }



    .navigation button{
        font-size: 10px;
    }

    .topnav{
        display: block;

    }

    .topnav a {
        color: white;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 12px;
        display: block;
      }

      .topnav img{
        position: absolute;
        top: 0;
        left: 0;
        padding: 7px;
        width: 25px;
        height: 25px;
      }

    .navigation {
        padding: 0px 0px 3px 0px;
        margin-right: 8px;
        height: 37px;
    }
    .nstyle{
        display: none;
        font-size: 8px;
    }

    .mainhead{
        display: flex;
        align-items:baseline;
        padding: 0px;
        flex-direction:column-reverse;
        height:auto;
    }

    @keyframes headas {
        from {transform: translateX(-400px);}
        to {transform: translateX(0);}
    }

    .intro h1{
        position: relative;
      animation-name: headas;
      animation-duration: 2s;
    }




    .intro {
        align-items:flex-start;
        padding: 0px 30px;

    }
    .van {
        width: 100%;
        height: auto;
    }
    .vanimage{
        border-radius: 0px;
    }

    .about {
        padding: 30px 0px;
    }
    .iconscon{
        padding: 0px;
    }
    .skills{
        padding: 30px 0px;
    }
    .gallery{
        padding: 30px 0px;
        gap: 0px;
    }



    .intro h1 {
        font-size: .8em;
    }

    .title h2{
        font-size: 24px;

    }
    .project{
        width: 300px;
    }

    .simage1{
        height: 200px;
    }
    .simage2{
        height: 300px;
    }
    .icons{
        margin: 0px 80px;
    }

    .iconscon{
        margin: 15px 25px;
    }
    .ques{
        margin: 0px 25px;
    }
    .citem{
        gap: 30px;
        padding: 15px 15px;
    }

    
.pcontainer{
    display:flow-root;
}
.project{
    gap: 4px;
}
.project p{
    margin: 0px 0px 40px 6px;
}

.project h4{
    font-size: 20px;
    margin: 5px;
}

.title h2{
padding: 0px;
margin: 0px 0px 40px 0px;
}

.faqs{
    padding: 30px 0px;
}

h3 {
    font-size: 16px;
}
h5{
    font-size: 19px;
}
.cfoot li{
    font-size: 16px;
}
.fcon{
    display: flex;
    width: 100%;
    font-size: 12px;
padding: 0px;
}
.fcon p{
    font-size: 15px;
}
}
