/* CSS GOES HERE */

  
  .topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;

  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    color: white;
  }


.navigation {
    display: flex;
    height: 70px;
    padding: 0px 0px 20px 0px;
    margin-left: auto;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    align-self:stretch;
    background: #515D56;
}

.nstyle{
    color: #FFF;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 20px;
    margin-right: 40px;

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
  color: rgb(186, 137, 201);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 67, 12);
  background-color: transparent;
  text-decoration: underline;
}
}

.mainhead {
    max-width: 100%;
    width: 100%;
    padding: 0px 0px 80px 0px;
    display: flex;
    height: 700px;
    justify-content: space-between;
    align-items: flex-start;
    align-self:normal;
    margin-left: auto;
    margin-right: auto;
}

.acontainer{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.aboutinfo {
    align-self: stretch;
    color: #000;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.aboutinfo p {

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 40px 0px 40px;
}

.intro {
    display: flex;
    padding: 0px 0px 0px 80px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: .7 0 0;
    align-self: stretch;

color: #000;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: #CFE5D1;

}

.intro h1{
    position: relative;
  animation-name: headas;
  animation-duration: 3s;
}

@keyframes headas {
    from {transform: translateX(-600px);}
    to {transform: translateX(0);}
}

.iconscon{
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.icons{
    display: flex;
padding: 10px 0px;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 40px;
align-self: stretch;
flex-wrap: wrap;
}

.van {
    width: 50%;
}

.vanimage{
    border-radius: 0px 0px 0px 60px;
    width: 100%;
}
.simage1{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.simage2{
    height: 500px;
    width:100%;
    border-radius: 20px;
    object-fit: cover;

}

.about {
    display: flex;
padding: 0px 0px 50px 0px;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
background: var(--light-green, #F4FFF5);
}
.skills {
    display: flex;
    padding: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #CFE5D1;
    margin-left: auto;
    margin-right: auto;
}

.gallery{
    display: flex;
padding: 0px 0px 60px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 85px;
align-self: stretch;
background: var(--light-green, #F4FFF5);
}

.title{

color: #000;
text-align: center;
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.pcontainer{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 45px;
}

.project{
    display: flex;
width: 500px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 10px;
}
h4{
    color: #000;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
margin: 10px;
}
h3{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p{
    color: #000;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
margin: 10px;
}

ul.b {
    list-style-type: square;
}
.fl li{
    color: #000;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
margin: 10px;
  }

.faqs{
    display: flex;
padding: 30px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 35px;
align-self: stretch;
}

.ques{
    display: flex;
padding: 30px 0px;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}

.qa{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 13px 34px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 15px;
background: #443232;
}

.cfoot li{
    color: #FFF;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
  a:hover {
    color: rgb(186, 137, 201);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 67, 12);
    background-color: transparent;
    text-decoration: underline;
  }
}
.citem{
    display: flex;
padding: 30px 60px;
justify-content:flex-end;
align-items: flex-start;
gap: 100px;
}
.ccont{
    display: flex;
    width:100%;
padding: auto;
flex-direction: row;
align-items: flex-start;
align-self: stretch;
background: #7E6F6F;
}

.cfoot{
    display: flex;
    flex-direction: column;
    align-items:center;
   
}

h5{
    color: #FFF;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
margin: 5px 0px;


}

.fcon{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
padding: 10px 10px;
justify-content: center;
gap: 10px;
align-self: stretch;
background: #000;
}

h6{
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

html {
    scroll-behavior: smooth;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
section {
    width: 100%;
    height: 100%;
    padding: auto;
}
section:nth-child(even) {
    background-color: #CFE5D1;
}
.container {
    height: 100%;
    width: 100%;
    max-height: 10000;
    max-width: 960px;
    text-align: left;
    margin: auto;
}
.intro h1 {
    font-size: 3em;
}
footer {
    display: flex;
    width:100%;
    background-color: #000;
    color: #fff;
    padding: auto;
}